<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_tareos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="APP TAREO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        >
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".GUI.PUBLICO.ACTScannerPermiso"
            android:theme="@style/AppOficial"
            android:exported="true" />
        <activity
            android:name=".GUI.PUBLICO.ACTScannerTareo"
            android:exported="true"
            android:theme="@style/AppOficial"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".GUI.PUBLICO.ActivityEscanear"
            android:exported="true" />

        <activity
            android:name=".GUI.PUBLICO.ACTLogin"
            android:theme="@style/Theme.APP_TAREOS.NoActionBar">

        </activity>

        <activity
            android:name=".GUI.PUBLICO.ACTHome"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_acthome"
            android:screenOrientation="portrait"
            android:theme="@style/AppOficial"
            android:windowSoftInputMode="adjustPan"
            >

        </activity>

        <activity
            android:name=".GUI.PUBLICO.ACTSplash"
            android:theme="@style/Theme.APP_TAREOS.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>